* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
}

.main_container {
    width: 100vw;
    min-height: 100vh;

    background: #280828;
}

.header {
    width: 100vw;
    height: 20%;

    background: purple;
    color: mistyrose;
    font-weight: bold;
    text-align: center;
    padding: 0.6rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.header_txt {
    font-size: 4rem;
}

.main_content {
    width: 100vw;
    min-height: auto;
}

.scores {
    background-color: turquoise;
    padding: 0.4rem;
    text-align: center;
    font-weight: bold;
    color: purple;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cards {
    height: auto;
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-auto-rows: 15rem;
    gap: 1.5rem;

    padding: 15px;
}

.card {
    background: thistle;
    display: flex;
    flex-flow: column nowrap;
    /* align-items: center;
    justify-content: center; */
}

.card_content {
    padding: 10px;
    display: flex;
    min-height: 90%;
    align-items: center;
    justify-content: center;
}

.card_name {
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;
}
